.deck {
    width: 170px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #1e90ff;
    position: relative;
    text-align: center;
}

.add-deck {
    background-image: url("add.png");
    background-size: cover;
    background-position: center;
    background-color: white;
}

.deck-title {
    text-align: center;
    font-weight: bold;
    color: #3e5eab;
    margin-top: 20%;
}

.cards-num {
    margin-top: 10px;
}

button.learn {
    font-size: 1em;
    margin-top: 45%;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    background-color: #3e5eab;
    color: #ecf0f1;
    transition: background-color .3s;
}

.deck-list {
    display: grid;
    grid-auto-rows: 200px;
    column-gap: 100px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, 100px);
}

.delete-icon {
    position: absolute;
    top: 0;
    right: -5px;
    border: none;
    background-color: Transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}