.deck {
    /*background-color: #d9edff;*/
    padding: 20px;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #1e90ff;
    /*box-shadow: 1px 1px 1px #848fab;*/
    position: relative;
}

.add-deck {
    background-image: url("add.png");
    background-size: cover;
    background-position: center;
    background-color: white;
}

.deck-list {
    display: grid;
    grid-auto-rows: 200px;
    column-gap: 100px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, 100px);
}

.delete-icon {
    position: absolute;
    top: 0;
    right: -5px;
    border: none;
    background-color: Transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}